<!DOCTYPE html>
<html lang="en">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Autotestplat</title>
    <style>body{text-align:center}</style>
</head>
<body>
<div>
    <font size="2">
        <h1> 自动化平台</h1>
    </font>
<h1>login</h1>
<form method="post" action="/login/">
    {%  csrf_token %}
    <br><a>&nbsp;&nbsp;用户名:</a> <input name="username" type="text" placeholder="username">
    <br> <a>密&nbsp;&nbsp;&nbsp;码:</a><input name="password" type="password" placeholder="password">
    <br>{{ error }}<br>
    <br>&nbsp;<button id="submit" type="submit">submit</button>

</form>
    </div>
</body>
</html>